$bold: 700;
$xl: 40px;
$lg: 24px;
$md: 14px;
$sm: 12px;
$light: #f0f4ff;
$dark: #a5b6ee;
$box-left: #5471b8;
$box-right: #4962a0;
$border: #354971;
$darkblue: #324577;

$start: #5180ff;
$reset: #fb7099;
