@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Pretendard-Regular";
  background: linear-gradient(to left top, #a5b6ee, #f0f4ff);
  box-sizing: border-box;
}

input {
  background: inherit;
  border: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.logo {
  padding-top: 72px;
  padding-bottom: 60px;
  text-align: center;
}
.logo img {
  width: 244px;
}

.container {
  margin: auto;
  max-width: 400px;
  padding: 50px;
  background: linear-gradient(to left top, #4962a0, #5471b8);
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
}
.container .title {
  margin: auto;
  margin-bottom: 32px;
  padding-bottom: 23px;
  font-weight: 700;
  width: 312px;
  border-bottom: 2px solid #354971;
}
.container .timer-box .timer {
  margin-bottom: 40px;
}
.container .timer-box .timer img {
  margin: 0 8px;
}
.container .timer-box .timer label {
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}
.container .timer-box .timer input {
  width: 80px;
  text-align: center;
  border: 1px solid #354971;
  border-radius: 10px;
  padding: 16px;
  color: white;
  font-weight: 700;
  font-size: 40px;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .timer-box .timer .hrs-box,
.container .timer-box .timer .min-box,
.container .timer-box .timer .sec-box {
  display: inline-block;
}
.container .timer-box .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.container .timer-box .btn-box .start,
.container .timer-box .btn-box .reset {
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}
.container .timer-box .btn-box .start {
  background: #5180ff;
}
.container .timer-box .btn-box .reset {
  background: #fb7099;
}

.weniv-corp {
  padding-top: 60px;
  text-align: center;
}